table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
margin: auto;
}
th {
font-family: monospace;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: left;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}